<router-outlet>
<div class="container">
    <div class="row">
<div class="btn-group mt-5 gap-5" role="group" aria-label="Vertical radio toggle button group">
    <a href=""></a>
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off"  >
    <label class="btn btn-outline-dark" for="vbtn-radio1"routerLink="addproduct" >Add product </label>
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
    <label class="btn btn-outline-dark" for="vbtn-radio2" routerLink="listproduct" >List Product</label>
    
</div>
  </div></div>
  </router-outlet>